*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* 전체 포지션 */
#wrap{
    width:100%;
   
    position: relative;
}
#header{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    height: 100px;
    align-items: center;
   
}

.top_image{
    width:100px;
    height: 100px;
    transition: all ease 1s;
    
}

/*태그의 배경에 이미지가 들어가도록 설정*/

.top_image a{
    background:url(../image/randombox.png);
    height:100%;
    width:100%;
    
   

}

.top_image img:hover{
    transform: rotateY(6.2832rad);
}

.header_menu{
    flex-grow:1
}
ul{list-style:none;}
.menu_list{
    display:flex;
    height: 100%;
    justify-content: flex-end;
    position: relative;
}


/* 글씨 크기 글씨 가운데
바로 밑에 있는 li에만 적용 클래스>li{ */
.menu_list>li{
    padding:20px 30px;
    font-size:20px;
    position: relative;
}

.menu_list>li>ul{
    position: absolute;
    top:20px;
    height: 0;
    width:0;
    opacity: 0;
}
/*어떤 영역에 표시를 안함 
line-height        */
.menu_list>li>ul>li{
    position: relative;
    line-height: 0;
}

/* line-height 줄과 줄 사이의 간격*/
.menu_list>li:hover ul{
    opacity: 1;
    width:100%;
    left:0;
    top:64px;
    
}

.menu_list>li:hover ul>li{
    line-height:1;
    text-align: center;
    font-size:16px;
    padding:10px 0px;
   
}