
#main_top{
    display:flex;
}


.top_left{
    width:500px;
    padding:20px;
}



.top_left img{
    width:460px;
}

.top_right{
    width:500px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_title{
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d0d0;
    
}

.item_price{
    padding-bottom: 30px;
    padding:30px;
    flex-grow:1;
}

.item_button button:first-child{
    border: 1px solid #343434;
    color: #346aff;
    background:#fff;
    width:200px;
    height: 50px;
    cursor: pointer;

}
.item_button button:last-child{
    border: 1px solid #343434;
    color: #346aff;
    background:#fff;
    width:200px;
    height: 50px;
    cursor: pointer;
}

#main_content{
    width:1080px;
  
}

.main_content_menu_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #343434;
    color: black;
    background:#fff;
    width:200px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    width:100%;
    padding:0;
    
}

.main_content_menu_list li{
    list-style-type: none;
   
    
}


.main_content_menu_list ul{
    width:100%;

}


 
  

.main_content_image{
    
    width:100%;
    padding:20px;   
}


.main_content_image img{

    width:500px;
    margin-left: auto;
    margin-right: auto;
    
    
       
}

.main_bottom_view{
    width:100%; 
    padding: 20px;
    margin: 0;
    border-top: 2px solid #555;
    
}


.bottom_top{
    display:flex;
    justify-content: space-between;
    padding:20px;
}
.bottom_top a{
    color:blue;
}


.bottom_middle i{
        color:red
}

.bottom_middle a:last-child{
    color:green;
}





.item_price i{
    font-size:100px;
    
}

@media screen and (max-width:768px){
    .main_content_image{
        width:40%;
    }
    .main_content_menu{
        width:40%;
    }
}



@media screen and (max-width:576px){


    .main_content_image{
        width:40%;
    }
    .main_content_menu{
        width:40%;
    }
}






/* 

#main_content{
    width:1080px;
}


.tab_title ul{
    list-style-type:none;
    widht:100%;
    border-top:2px solid black;
    border-left:1px solid black;
    border-right:1px solid black; 
}

.tab_title ul li{
    width:24.61%;
    display:inline-block;
    border-right:1px solid black;
    오른쪽 선은 li 쪽에 줘야한다     
}






.tab_title ul li:first-child{
    margin:bottom:-2px;
    border-bottom:1px solid #fff;


.detail.img{
    width:700px;
    marging:50px auto; 
}




 < 이미지가 가운데로 간다 너비 지정을 안하면 되지가 않는다 !!!!
    img 스타일 영역에 display : block; 을 준다. 
}

위에 있는 섹션과 거리를 두기
.main_bottom{
  margin-top:100px;
  margin-bottom:100px;
  width:1080px;
  border-top 2px; solid #555;
  padding-top:50px;
  position:relative;

}

상품평 글씨 크기 조절 , 간격 조절 
#main_bottom h3{
    font-size:20px;
    margin:10px 0;
    
별 의 간격을 띄워준다 . 
.review_guide{
    margin-bottom:20px;
}

.star_rating{
    widht:304px;
}

span 두곳에 지정 , 이 상태에서 색깔을 들어오게 하는 방법 

.star_rating, .star_rating span{
    display:inline-block;
    height:55px;
    overflow:hidden;
    background:url(../image/stra.png)
}

배경 이미지의 위치 , 왼쪽에서부터 별 모양이 채워지게 할 수 있음
시작 점 , vertical-align: top 을 줘서 그 모양을 
.star_rating span{
    background-position: left bottom;
    vertical-align: top;
    width:30%;

    상품평 글씨를 위로 올린다 top 60px 이 나오는 이유는 
    main_bottom 20px+

    .guide_btn{
    position:absolute;
    top:70px;
    right:0;
    color:rgb(113,167,247);



    */


    