table {
  border-collapse: collapse;
  margin: auto;
}
.cell {
width: 80px;
height: 80px;
border: 1px solid black;
text-align: center;
vertical-align: middle;
font-size: 24px;
cursor: pointer;
}

.cell-selected {
background-color: yellow;
}

.computer-cell {
background-color: lightgray;
}

h1, h2 {
text-align: center;
}

#btn {
width: 200px;
height: 200px;
margin: 0px auto;
}

button {
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
margin: 10px auto;
}

.button-clicked {
background-color: skyblue;
}

.grid-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
justify-content: center;
}

.grid {
border: 1px solid black;
padding: 20px;
}

#wrap {
width: 800px;
margin: 0 auto;
}