* {
    padding: 0;
    margin: 0;
}

#subway {
    
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding:50px;
    
}






.cells {
    display: flex;
    justify-content: center;

    width: 30px;
    height: 15px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    
}

#state{
    
    padding:30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#station1{
    width:30px;
    border: 1px solid black;
    margin: 0 auto;
}

#station2{
    width:30px;
    border: 1px solid black;
    margin: 0 auto;
}
#station3{
    width:30px;
    border: 1px solid black;
    margin: 0 auto;
}

#station4{
    width:30px;
    border: 1px solid black;
    margin: 0 auto;
}


.box{
    width:100px;
    padding:150px;
    
}


#datetime{
    width: 200px;
    height: 100px;
    border: 1px solid black;
}