#flex1{
    width:1000px;
    height:300px;
    border:1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
#flex1 div{
    width:100%;
}

.red{
background :red;
}
.yellow{
background : yellow;
}
.green{
background: green;
}
.blue{
background:blue;
}

#flex2{
    width:1000px;
    height: 300px;
    display:flex;
    /* 
        flex 기본 적용 값 
        flex-dicrection:row;
        flex-wrap:nowrap;
    
    */
    

}
#flex2 div{
    width:25%;
}

.flexshape{
    width:1000px;
    height:300px;
    display:flex;
}

#flex3 div{
    width:15%;

}

#flex3{
    justify-content: start;
}
#flex4 div{
    width:15%;
}
#flex4{
    justify-content: end;
}

#flex5 div{
    width:15%;
}
#flex5{
    justify-content: center;
}

#flex6 div{
    width:15%;
}
#flex6{
    justify-content: space-around;
} 

#flex7 div{
    width:15%;
}



/* 기본 값 */
#flex7{
    align-items: stretch;
}


#flex8 div{
    width:15%;
}
#flex8{
    justify-content: space-between;
}

#flex9 div{
    width:15%;
    height: 200px;

}
#flex9{
    align-items:flex-start;
}



#flex10 div{
    width:15%;
    height: 200px;
}

#flex10{ 
    align-items:flex-end;
}


#flex11 div{
    width:15%;
    height: 200px;
}

#flex11{ 
    align-items:center;
}

#flex12 div{
    width:15%; height:200px;

}

#flex12 .red{
    align-self: flex-end;

}

#flex12 .yellow{
    align-self: center;
}

#flex12 .green{
    height: auto;
    align-self: stretch;
}


#flex13{
    flex-direction: column;
    justify-content: space-between;
}

#flex13 div{
    width:25%;
    height:50px;
}

#flex14 div{
    width:25%;
    height:50px;
}
#flex14{
    flex-direction: column;
    justify-content: space-between;
}


#flex14 .red{
    order:3;
}


#flex14 .green{
    order:1;
}


#flex15 .red{
    flex:1 1 0;
}
#flex15 .yellow{
    flex :1 1 0;
}




/* 
flex : 1 1 0 
flex-grow, flex-shrink, flex-basis
*/

#flex16 div{width:120px}
#flex16 .red{flex-grow:1;}
#flex16 .yellow{flex-grow:1;}
#flex16 .green{flex-grow:0;}
#flex16 .blue{flex-grow:2;}



#flex17 div{
    width:800px;
}
#flex17 .red{flex-shrink: 1;}
#flex17 .yellow{flex-shrink: 0;}
#flex17 .green{flex-shrink: 1;}
#flex17 .blue{flex-shrink: 2;}
