#top{
    width:1080px;
    height: 200px;
    background: skyblue;
    display: flex;
    margin:0 auto;
    
}

.main-top{
width: 1080px;

}

#main{
    margin-top:10px;
    width:200px;
    height: 700px;
    background:yellowgreen;
}