body{
    padding:0;
    margin:0;
    background-color:white;
    color:black;
    position:relative;
}

#Wrap{
    position:relative;
    width:100%;
}

#header{
    width:800px;
    margin:0 auto;
    background-color: white;
    top:0;
    z-index:100;
    display:flex;
    padding:20px 0;
    font-size:25px;
    justify-content: space-between;
}
#header .hed:hover{
    color:white;
    background-color: black;

}







#section{
    width:900x;
    margin:10%;
    display:flex;
    margin-top:15px;
}
.section_left{
    width:100%;
    height: 900px;
    /*background:#a1a5b6;*/
}
.section_right{
    width:30%;
    height: 400px;
    /*background:skyblue;*/

}
.section_left .mainImage{
    width:20%;
    height:100px;
 
    padding-left: 20px;

}
.section_left .mainImage img{
    width:100%;
    
}

.subMenu_list{

    width:800px;
    margin:0 auto;
    background-color: white;
    top:0;
    z-index:100;
    display:flex;
    padding:20px 0;
    font-size:25px;
    justify-content: space-between;
    list-style-type: none;   
   
}





.notice_adImg{
    width:100%;
    display:flex;
    position:relative;
}
.notice_adImg .notice_box{
    width:100%;
    position:relative;
}
.notice_adImg .notice_box .notice_list{
/* 공지사항 ul 태그*/    
    /*list-style-image:url('../image/listIcon.png');*/
    list-style-type:none;
    display:flex;
    width:300px;
  
    
}

.notice_list li:hover{
    color:yellowgreen;
    background-color:black;
    height:10%;
}





.notice_adImg .notice_box .notice_list li::after{
    content:'';
    display:inline-block;
    height: 10px;
    width: 200px;
    background-image:url('../image/img5.png');
    background-size:15px;
    background-repeat: no-repeat;
    margin-right:5px;
}









.notice_adImg .notice_box .notice_list li{
/* 공지사항 li 태그*/
    padding:5px 0;
}   




.adImg_box img{
    width:1000px;
    left:20%;
    position: sticky;
    
}




.notice_adImg .notice_box .notice_more{
/* 공지사항에 more 텍스트 있는 h5 */
/*                          */
    
    top:0;
    position:relative;
    padding-left: 250px;
}
    
.notice_adImg .adImg_box{
   
    width:100%;
    height:300px;
}



.coop_box{
    width:100%;
    
    
}


.coop_box .imgeList{
    width:100%;
    height: 100px;
    display:flex;
    
}
.coop_box .imageList img{
    width: 15%;
    height: 150px;
    margin:4px;
   
}






.coop_box .imageList img:hover{
    transform: scale(1,2);
    -webkit-transform: scale(1,2);
    -moz-transform: scale(1,2);
    -ms-transform: scale(1,2);
    -o-transform: scale(1,2);
    transition: transform 0.3%;
    cursor: pointer;
}



.subMenu_wrap{
    margin-top:0;
    padding:0px;
    

}

.subMenu_title{
    width:120%;
}



#footer{
    width:1200px;
    margin:0 auto;
}
.ft_menu{
    width:100%;
    padding:30px;
}
.ft{
    list-style-type: none;
    padding:0;
    margin:0;
    display:flex;
    
}
.ft li{
    padding-right:30px;
}
.address{
    padding:0 30px;

}

.copyright{
    padding:5px 30px;
}

