#wrap{
    width:1795px;
    height: 795px;
}

#header{
    width:1080px;
    height: 104px;
    display:flex;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
   
}

.menubar{
    display:flex;
    list-style-type:none ;
    padding:20px;
    width:500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

}
.menubar > li{
    margin:30px;
}





.userbar{
    display:flex;
    list-style-type:none;
    justify-content: right;
    align-items: center;
    margin-left:auto;
    width:351px;
    padding:20px;
}

.userbar > li{
    margin:30px;
}


#section{
    width:600px;
    height: 200px;
    padding:20px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    margin-top:100px;
}


#imgbox{
    width:1000px;
    margin-top:150px;
    margin: 0 auto;
    padding:30px;
}


#imgbox img{
    width:130px;
    height: 500px;
    
}