#wrap{
    width:1795px;
    height: 795px;
}

#header{
    width:1080px;
    height: 104px;
    display:flex;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
   
}

.menubar{
    display:flex;
    list-style-type:none ;
    padding:20px;
    width:700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

}
.menubar > li{
    margin:30px;
}





.userbar{
    display:flex;
    list-style-type:none;
    justify-content: right;
    align-items: center;
    margin-left:auto;
    width:351px;
    padding:20px;
}

.userbar > li{
    margin:30px;
}


#section{
    width:600px;
    height: 200px;
    padding:20px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    margin-top:100px;
}


#imgbox{
    width:1000px;
    margin-top:150px;
    margin: 0 auto;
    padding:30px;
}


#imgbox img{
    width:130px;
    height: 500px;
    
}


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; /* 적절한 높이로 조정해주세요 */
    
    
}

.event {
    position: relative;
 
    width: 200px; /* 적절한 크기로 조정해주세요 */
    height: 200px; /* 적절한 크기로 조정해주세요 */
}

.hand, .search, .setting, .act, .watch {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px; /* 적절한 크기로 조정해주세요 */
    height: 50px; /* 적절한 크기로 조정해주세요 */
    transform: translate(-50%, -50%);
}

.hand i, .search i, .setting i, .act i, .watch i {
    font-size: 24px; /* 아이콘 크기를 조정해주세요 */
}

.hand {
    transform: translate(-50%, -50%) rotate(45deg) translateX(-70px);
}

.search {
    transform: translate(-50%, -50%) rotate(135deg) translateX(-70px);
}

.setting {
    transform: translate(-50%, -50%) rotate(225deg) translateX(-70px);
}

.act {
    transform: translate(-50%, -50%) rotate(315deg) translateX(-70px);
}

.watch{
    text-align: center;
    justify-content: center;
}


.hand i:hover{
    background:red;
}


.search i:hover{
    background:green;
}


.setting i:hover{
    background:yellowgreen;
}

.act i:hover{
    background:rebeccapurple;
}

.watch i:hover{
    background:cyan;
}



#login-info{
    width:300px;
    height: 150px;
    border: 1px solid black;
    margin:0 auto;
    float:right;
    padding:20px;
    
}

#login-info .checkpw .btn{
    width: 150px;
    margin:40px;

    
}





