@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body,ul,p,h1,h2,h3,h4,h5{
    padding:0;
    margin:0;
}



/* Wrap   */
#wrap{
    width:100%;
    position: relative;
    top:0;
    left:0;
}


/* 공통적으로 들어가야 되는 상황  */
#header, #section_wrap, #footer{
    width:100%;
    max-width:1200px;
    min-width:800px;
    margin:0 auto;
    position: relative;

}



/* 별도로 가져야 되는 값   
    flex 한줄로 표현 
*/
#header{
    display: flex;
    background:skyblue;
    align-items: center;
    padding:10px 0;
}


.logo{width:140px;}
.logo img{width:100%;}




/* 메뉴의 너비에서 로고의 너비를 뱬 값 
calc ( 100% - 140px ) 
띄어쓰기 안하면 계산이 안됨 !!

*/
.menu{
    /* width:calc( 100% - 140px ) */
    flex-grow:1;
}

.menu ul{
    list-style-type:none; /* ul 태그 안에 있는 li 태그에 있는 • 없애기 */
    display:flex;   /* 1열로 나열 하기 */
    justify-content: space-around; /* ul 태그의 li 를 띄우기*/
    font-size:25px;
 
}

#section_wrap{
    /*display:flex; */
    display:flex;
    flex-direction: column;
}
#section_top{
    order: 1;
    display:flex;
}

.slider{
    width:400px;

}
.slider img{
    width:100%;

}

#section_bottom{
    order: 2;
    display:flex;
}


.gallery{
    width:500px;
    padding:10px;
    box-sizing: border-box;
}
.gallery_box{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:10px;  /* 일정한 크기로 사진사이를 띄움*/
}

.thumbnail{
    width:30%;
    height: 100px;
    overflow:hidden;


}
.thumbnail img{
    width:100%;
}


ul{
    list-style-type: none;
}

.latest_post{
    padding:20px;
    box-sizing: border-box;
    width:25%;
    background:skyblue;
}

.latest_post .latest{
    cursor: pointer;
    padding:5px 0;
}

.popular_poast{
    padding:20px;
    box-sizing: border-box;
    width:25%;
    background: skyblue;
}
.popular_poast .popular_list{
    cursor: pointer;
    padding:5px 0;

}

.popularSearch{
    background:skyblue;
    flex-grow:1;

}


.social{
    flex-grow:1;
    font-size:40px;
    background:skyblue;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;

}



@font-face
{
    font-family:'Meta Variable Demo Set'; 
    src:url('https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2');
    
    font-style: normal;
    font-weight: normal;
}
/* space-evenly 간격이 동일하게 띄어주가*/
.banner{
    flex-grow:1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:black;
}
.banner main{
    /* font-variant-ligatures 폰트의 설정을 일괄적으로 할 수 있다.
    폰트 두께, 폰트 기울기, 폰트 너비 를 설정할 수 있다.
    wght 는 폰트 두께, ital 은 이탤릭체 , wdth는 너비 
    
    
    transparent 투명도 설정
    -webkit-: 구글,사파리,브라우저에만 적용 
    브라우저들만 가지고 있는 접두어 
    -moz- : 파이어폭스 브라우저에 적용
    -ms- : 익스플로러 , 엣지 적용
    -o- : 오페라 브라우저 
    접두어-text-strock : 글씨 외곽선
    transition : css 의 속성을 변경 할 때 속도 조절 
    transition : css 속성명 시간(단위는 초, 표기는 s) 
    text-shadow: 수평거리 수직거리 흐림정도 색 ;
    
    */
    
    
    


    font-variation-settings: 'wght' 900, 'ital' 1;
    font-size:60px;
    font-family: 'Meta', sans-serif;
    color:transparent;
    text-align: center;
    -webkit-text-stroke:4px #d6f4f4;
    transition: all 0.5s;
    text-shadow: 5px 5px 0px blue, 8px 8px 0px #e601c0,
    11px 11px 0px #e9019a, 14px 14px 0px #f40468,
    34px 34px 10px #482896;

}

.banner main:hover{
    font-variation-settings: 'wght' 100, 'ital' 0;
    text-shadow: none;

}


#footer{
 
    display: flex;
    justify-content: space-between;
    background:skyblue;
    padding:10px;
    box-sizing: border-box;
}



   

#footer div{
   align-self: flex-end;
   
    
}

