.item{
   
border: 1px solid black;
}

#container{
  
    display: grid;
    /* grid-template-columns:repeat(5,200px);   */
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-template-rows: repeat(5,200px);
}
