.item{
   
border: 1px solid black;
}

#container{
  
    display: grid;
    /* grid-template-columns:repeat(5,200px);   */
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-template-rows: repeat(5,200px);
    
}

.item:first{
    grid-column-start:1;
    grid-column-end:3;
}
.item:nth-child(4){
    grid-column-start: 2;
    grid-column-end:4;
}

